*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.page{
    border-radius: 25px;
    background-color: rgb(255, 217, 240);
    border-style: solid;
    border-color: rgb(32, 32, 32);
    border-width: 5px;
    margin: 5%;
}
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
.github-container{
    display: flex;
    justify-content: center;
    min-width: 80%;
    margin-bottom: 0%;
}
.itchio-container{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.linkedIn-container{
    display: flex;
    margin-top: 2%;
    justify-content: center;
}
.small{
    font-size: xx-small;
}
p {
    text-align: center;
    font-size: 17px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
img {
    border-radius: 20px;
    margin-bottom: -9px;
}